<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JoystickVisualizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <JoystickVisualizer.Properties.Settings>
            <setting name="Timer_PollingIntervalMs" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Main_WideLayout" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Main_KeepOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Axis_CenterValue" serializeAs="String">
                <value>32767</value>
            </setting>
            <setting name="Axis_MaxValue" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="Button_GridCols" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Button_GridRows" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="UI_BorderThickness" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="UI_ButtonColor" serializeAs="String">
                <value>DarkRed</value>
            </setting>
            <setting name="UI_CrosshairThickness" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UI_DarkModeBackground" serializeAs="String">
                <value>30, 30, 30</value>
            </setting>
            <setting name="UI_Default_2dDotSize" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="UI_DefaultDotColor" serializeAs="String">
                <value>GradientInactiveCaption</value>
            </setting>
            <setting name="UI_DefaultFrameColor" serializeAs="String">
                <value>Info</value>
            </setting>
            <setting name="UI_PovLineColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="UI_PovLineThickness" serializeAs="String">
                <value>8</value>
            </setting>
        </JoystickVisualizer.Properties.Settings>
    </applicationSettings>
</configuration>